@import url('https://fonts.googleapis.com/css?family=Nunito|Montserrat|Muli|Quicksand|Questrial|Titillium+Web');

body {
  background-color: #1c1d20;
}

p {
  font-size: 12pt;
}

.App {
  text-align: center;
  background-color: #1c1d20;
  color: white;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: hidden;
}

.MainComponent {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: none;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: auto;
  align-content: center;
  height: 72vh;
}

.DesignComponent {
  margin: 10px;
  padding: auto;
  display: inline-flex;
  flex-direction: row;
  background-color: rgb(125, 125, 128, 0.08);
  max-width: 880px;
  height: 68vh;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-y: none;
}

.DesignComponent:hover {
  background-color: rgb(125, 125, 128, 0.5);
}

.DesignStatic {
  width: 280px;
  min-height: 100%;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 0px;
  overflow-y: none;
}

.DesignExpanded {
  margin: 5px;
  width: 500px;
  max-height: 520px;
  padding: auto;
  display: flex;
  flex-direction: column;
  min-height: 520px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  position: inherit;
  overflow-y: none;
}

#main-header {
  position: sticky;
  max-height: 15vh;
  position: -webkit-sticky;
}

#header-title {
  font-family: 'Nunito', sans-serif;
  font-size: 30pt;
  padding-bottom: 0px;
  padding-top: 15px;
  margin-bottom: 0.5px;
}

#header-subtitle {
  font-family: 'Questrial', sans-serif;
  font-size: 11pt;
  justify-content: baseline;
}

#design-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 14pt;
  vertical-align: top;
  align-self: top;
  position: relative;
  text-align: left;
  margin-left: 30px;
}

#design-logo {
  vertical-align: middle;
  padding-bottom: auto;
  max-width: 200px;
  max-height: 200px;
  align-self: center;
  vertical-align: center;
  padding-top: 10vh;
}

#design-text {
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: left;
  padding-top: 5vh;
}

#design-caption {
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
}

#design-card {
  max-width: 400px;
  max-height: 400px;
}