@import url('https://fonts.googleapis.com/css?family=Nunito|Montserrat|Muli|Quicksand|Questrial|Titillium+Web');

body {
  background-color: #1c1d20;
}

p {
  font-size: 12pt;
  margin: 0px;
}

.app {
  text-align: center;
  background-color: #1c1d1d;
  color: white;
  align-content: center;
  justify-content: center;
  display: inline;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  max-height: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.scrollbar-vertical {
  background-color: aliceblue;
  color: aliceblue;
  margin-bottom: 30px;
}

Scrollbars {
  margin-bottom: 30px;
}

/* Header Content Styling */

.main-header {
  background-color: #1c1d1d;
  position: sticky;
  position: -webkit-sticky;
  top: 35px;
  height: 10%;
  padding-bottom: 5px;
}

#header-title {
  font-family: 'Nunito', sans-serif;
  font-size: 25pt;
  padding-bottom: 0px;
  padding-top: 15px;
  margin-bottom: 0.5px;
}

#header-subtitle {
  font-family: 'Questrial', sans-serif;
  font-size: 11pt;
  justify-content: baseline;
}

/* Main Content Styling (sidebar + main component) */

.content {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  align-content: center;
  z-index: 1;
  text-align: center;
}

#info {
  grid-area: info;
}

#sidebar {
  grid-area: sidebar;
  text-align: right;
  min-width: 10%;
  min-height: 20%;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.spacer {
  flex: 1;
}

/* Scroll Layout Styling */

#scroll.main-component {
  grid-area: main;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow: visible;
  align-content: center;
  min-height: 550px;
  max-height: 650px;
  padding: 10px;
}

#scroll.design-component {
  margin: 10px;
  padding: auto;
  border-radius: 6px;
  display: inline-flex;
  flex-direction: row;
  background-color: rgb(125, 125, 128, 0.08);
  max-width: 880px;
  min-height: 100%;
  position: relative;
  overflow-y: none;
}

#scroll.design-component:hover {
  background-color: rgb(125, 125, 128, 0.5);
}

#scroll.design--static {
  width: 280px;
  border-radius: 6px;
  display: flexbox;
  flex-direction: column;
  position: relative;
  padding-top: 0px;
  overflow-y: none;
}

.expanded-content {
  width: 600px;
  height: 800px;
  background-color: rgba(54, 55, 58, 0.932);
  border-radius: 15px;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp duration timing-function delay iteration-count direction fill-mode;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 17px rgba(black, 0.35);
  animation: scaleup 0.2s alternate 0s ease-in;
}

#expanded-logo {
  padding: 0;
  width: 150px;
  margin: 20px auto;
  margin-top: 0;
}

.close-button {
  text-align: right;
}

.close-button button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
}

@keyframes scaleup {
  0%   {transform: scale(0) translate(-50%, -50%);}
  100% {transform: scale(1) translate(-50%, -50%);}
}

/* Grid Layout Styling */

#grid.main-component {
  grid-area: main;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-auto-rows: 370px;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  /* margin-top: 20px; */
}

#grid.design-component {
  margin: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: rgb(125, 125, 128, 0.08);
  height: 350px;
  width: 350px;
  vertical-align: center;
  text-align: center;
}

#grid.design-component:hover {
  background-color: rgb(125, 125, 128, 0.5);
}

#grid.design--static {
  max-width: 280px;
  min-height: 280px;
  display: flexbox;
  flex-direction: column;
  overflow-y: none;
  z-index: 1;
  margin: auto;
}

#grid.design--static #design-title {
  margin-left: 0;
  text-align: center;
}

#grid.design--expanded {
  min-width: 500px;
  min-height: 280px;
  border-radius: 6px;
  padding: 8px;
  position: relative;
  top: 5%;
  padding: auto;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  background-color: rgb(125, 125, 128, 1);
  overflow-y: none;
  z-index: 3;
}

/* Sidebar components styling (layout buttons + info bubble) */

#layout-button {
  width: 40px;
  height: 40px;
  border-radius: 65px;
  background-color: rgb(125, 125, 128, 0.2);
  color: white;
  border: none;
  text-align: center;
  vertical-align: middle;
}

#layout-button img {
  max-height: 30px;
  margin: auto;
}

#sidebar button {
  padding: 0;
  margin-left: 25px;
}

#layout-button:hover {
  background-color: rgb(125, 125, 128, 0.5);
}

div#layout-button {
  padding: auto;
}

#layout-button #info-tooltip {
  visibility: hidden;
  opacity: 1;
  padding: 8px;
  bottom: 135px;
  right: 170px;
  min-width: 330px;
  position: relative;
  background-color: white;
  color: #1c1d20;
  border-radius: 6px;
  z-index: 10;
  display: inline-block;
}

#layout-button:hover #info-tooltip {
  visibility: visible;
}

/* Design components styling (logos + titles + business cards + captions) */

#design-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 14pt;
  align-self: top;
  position: relative;
  text-align: left;
  margin-left: 30px;
}

#design-logo {
  vertical-align: middle;
  padding-bottom: auto;
  max-width: 200px;
  max-height: 200px;
  text-align: center;
}

#design-logo:hover {
  cursor: pointer;
}

#scroll #design-logo {
  padding-top: 30%;
}

#design-caption {
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
}

#design-card {
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  margin: 20px auto;
}

/* Screen Responsiveness */

@media only screen and (max-width: 500px) {

  #scroll.main-component {
    min-height: 73vh;
    
  }

  #scroll.design-component {
    display: flex;
    flex-direction: column;
  }

  #scroll.design--static {
    width: 200px;
    padding-left: 0px;
  }

  #scroll.design--expanded {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    position: inherit;
    overflow-y: none;
  }
  
  
  /* Sidebar components styling (layout buttons + info bubble) */  

  #sidebar {
    display: none;
  }
  
  #layout-button {
    width: 35px;
    height: 35px;
    margin-left: 15px;
  }

  #layout-button #info-tooltip {
    min-width: 200px;
  }

  /**/

  #design-logo {
    vertical-align: middle;
    padding-bottom: auto auto;
    max-width: 150px;
    max-height: 200px;
  }

  #scroll #design-logo {
    padding-top: 25%;
  }

}